@import './../shared/theme/_config.less';


:host {
	display: flex;
	flex-direction: column;
	cursor: default;
	user-select: none;
	border-left: 8px solid transparent;
	margin-left: -8px;
	padding: 4px;

	&:hover {
		border-left: 8px solid @color-3;
	}

	.header {
		display: flex;
		flex-direction: row;
		align-items: baseline;

		&-title {
			flex: 1 0 auto;
			align-self: baseline;
		}

		&-actions {
			flex: 0 1 auto;
			align-self: baseline;
		}
	}
}