<!--
	<h2>{{must.title}}</h2>
	<div [innerHTML]="must.content"></div>
	<p><a [routerLink]="['/content', must.id, 'edit']">Edit</a></p>

	[formGroup]="myForm"
-->

<form (ngSubmit)="onSubmit()" #form="ngForm">

	<h2>
		<input type="hidden" [(ngModel)]="must.title" name="title">
		<medium-editor #titleEditor [model]="must.title" [enableToolbar]="false" (onChanged)="onTitleChanged($event)"></medium-editor>
	</h2>

	<div>
		Créé {{must.creationDate | momentcalendar}} <span [hidden]="!must.modificationDate">mais modifié il y a {{must.modificationDate | momentfromnow}}</span>
	</div>

	<input type="hidden" [(ngModel)]="must.content" name="content">
	<medium-editor [model]="must.content" (onChanged)="onContentChanged($event)"></medium-editor>

	<button type="submit" [disabled]="!form.form.valid" [hidden]="!form.form.dirty">Save</button>

</form>